<!DOCTYPE html>
<head>
    <title>Eva</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.0/css/hover.css">

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <link rel="stylesheet" href="stylesheets/style2.css">
    <link rel="stylesheet" href="stylesheets/components.css">
    <script src="javascripts/script.js"></script>

    <script src="javascripts/odometer/odometer.js"></script>
    <link rel="stylesheet" href="javascripts/odometer/themes/odometer-theme-default.css" />
    <link rel="stylesheet" href="stylesheets/chat-style.css" />

    <!-- main wavesurfer.js lib -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/wavesurfer.min.js"></script>
    <!-- wavesurfer.js microphone -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/plugin/wavesurfer.microphone.min.js"></script>

</head>
<body>
<div class="navbar navbar-dark bg-custom-navbar box-shadow">
    <div class="container header-container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <img class="brand-logo" src="images/KPMG.png"><span class="kpmg-font font-lg">Eva</span>
        </a>
        <a class="navbar-right text-light agent-profile-link" href="">
            <img class="profile-image" src="https://s3.amazonaws.com/uifaces/faces/twitter/cherif_b/128.jpg">
            <i class="fas fa-chevron-down"></i>
        </a>

    </div>
</div>

<div class="main-content row">
    <div class="col-lg-4 col-grid">
        <div class="row">
            <div class="panel panel-border panel-no-color shadow">
                <div class="panel-heading">
                    <h3 class="panel-title">Customer Details</h3>
                </div>
                <div class="panel-body">
                    <div class="profile">
                        <div class="profile-avatar"></div>
                        <div class="profile-perffered"><i class="fas fa-star"></i></div>
                        <div class="profile-info">
                            <label class="attribute">Name:</label> <span class="attribute-value" attribute="full-name">Jenny Sarah Meredyth</span><br>
                            <label class="attribute">Customer LTV:</label> <span class="gold-member attribute-value" attribute="ltv"><i class="fas fa-star"></i>&nbsp;Gold</span><br>
                            <label class="attribute">Location:</label> <span class="attribute-value" attribute="location">Edinburgh</span><br>
                        </div>

                        <div class="profile-info-2" >
                            <label class="attribute">Gender:</label> <span class="attribute-value" attribute="gender">Female</span><br>
                            <label class="attribute">Birthday:</label> <span class="attribute-value" attribute="birthday">14/05/1984</span><br>
                            <label class="attribute">Phone number:</label> <span class="attribute-value" attribute="phone-number"><a href="">020 89772638</a></span><br>
                            <label class="attribute">Mobile phone:</label> <span class="attribute-value" attribute="mobile-phone"><a href="">07557 546274</a></span><br>
                            <label class="attribute">Customer Since:</label> <span class="attribute-value" attribute="customer-since">12-03-2013</span><br>
                            <label class="attribute">Email:</label> <span class="attribute-value" attribute="email">jenny_meredyth@outlook.com</span><br>
                            <div class="row">
                                <div class="col-4">
                                    <label class="attribute">Current Address:</label>
                                </div>
                                <div class="col-8" style="margin-left: -25px">
                                    <span class="attribute-value" attribute="address">123 Burns Crescent,<br> Edinburgh,<br> EH11 9GP<br></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label class="attribute">New Address:</label>
                                </div>
                                <div class="col-8" style="margin-left: -25px">
                                    <span class="attribute-value" attribute="new-address">27 MC House,<br> Langdon Park,<br> Teddington, TW11 9FF<br></span>
                                </div>
                            </div>
                                <!--<div style="margin-left:75px;">-->
                                    <!--<span ></span><br>-->
                                    <!--<span ></span><br>-->
                                    <!--<br>-->
                                <!--</div>-->
                            </span>

                            <label class="attribute">Overall Sentiment:</label> <span class="attribute-value" attribute="overall-sentiment"><img src="images/neutral.png"></span><br>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="row">
            <div class="panel panel-border panel-no-color shadow">
                <div class="panel-heading">
                    <h3 class="panel-title">Engagemant Details</h3>
                </div>
                <div class="panel-body">
                    <div class="engage-details">
                        <label class="attribute">Time since last message:</label> <span attribute="customer-since">5 minutes</span><br>
                        <label class="attribute">Elapsed Time:</label> <span id="timer-minutes">00</span>:<span id="timer-seconds">00</span><br>
                        <a class="profile-previous-engagements hvr-underline-from-center" href=""><span attribute="engagement-count">23</span> previous engagments<br></a><br>
                    </div>
                    <div id="waveform"></div>
                    <script>
                        var wavesurfer = WaveSurfer.create({ container: '#waveform', waveColor: 'rgba(63, 138, 191)' });

                        var microphone = Object.create(WaveSurfer.Microphone);

                        microphone.init({
                            wavesurfer: wavesurfer
                        });

                        microphone.on('deviceReady', function(stream) {
                            console.log('Device ready!', stream);
                        });
                        microphone.on('deviceError', function(code) {
                            console.warn('Device error: ' + code);
                        });
                    </script>
                    <div class="recognition">
                        <label class="attribute">Voice Identification:</label> <span id="recognition-name" attribute="customer-identified">Unkown</span><br>
                        <label class="attribute">Confidence:</label> <span id="recognition-confidence" class="odometer" attribute="customer-identified-confudence">0</span>%<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-grid">
        <div class="row h-100">
            <div class="panel panel-border panel-no-color shadow">
                <div class="panel-heading">
                    <h3 class="panel-title">Conversation</h3>
                </div>
                <div class="panel-body chat-body">
                    <div class="chat">
                        <div class="chat-message clearfix">
                            <div class="chat-history">
                                <ul class=chat>
                                    <li class="left clearfix"><span class="chat-img float-left">
                                        <img src="images/JennyFace.png" alt="User Avatar" class="avatar rounded-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">Jenny</strong> <small class="float-right text-muted">
                                                <span class="glyphicon glyphicon-time"></span>8 mins ago</small>
                                            </div>
                                            <p>
                                                I have a question about my quote.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="right clearfix"><span class="chat-img float-right">
                                        <img src="images/bot_icon.gif" height="60px" alt="User Avatar" class="rounded-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>8 mins ago</small>
                                                <strong class="float-right primary-font">VA</strong>
                                            </div>
                                            <p>
                                                Hello Jenny! Not a problem, what can I help with?
                                            </p>
                                        </div>
                                    </li>
                                    <li class="left clearfix"><span class="chat-img float-left">
                                        <img src="images/JennyFace.png" alt="User Avatar" class="avatar rounded-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">Jenny</strong> <small class="float-right text-muted">
                                                <span class="glyphicon glyphicon-time"></span>8 mins ago</small>
                                            </div>
                                            <p>
                                                Which appliances are included under the warranty cover?
                                            </p>
                                        </div>
                                    </li>
                                    <li class="right clearfix"><span class="chat-img float-right">
                                        <img src="images/bot_icon.gif" height="60px" alt="User Avatar" class="rounded-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>7 mins ago</small>
                                                <strong class="float-right primary-font">VA</strong>
                                            </div>
                                            <p>
                                                Appliances covered are; washing machine, dishwasher, tumble dryer and fridge/freezer
                                            </p>
                                        </div>
                                    </li>
                                    <li class="right clearfix"><span class="chat-img float-right">
                                        <img src="images/bot_icon.gif" height="60px" alt="User Avatar" class="rounded-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>7 mins ago</small>
                                                <strong class="float-right primary-font">VA</strong>
                                            </div>
                                            <p>
                                                For full details on this, please refer to section 2.3 in the T&Cs document
                                            </p>
                                        </div>
                                    </li>
                                    <li class="right clearfix"><span class="chat-img float-right">
                                        <img src="images/bot_icon.gif" height="60px" alt="User Avatar" class="rounded-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>7 mins ago</small>
                                                <strong class="float-right primary-font">VA</strong>
                                            </div>
                                            <p>
                                                Can I help you with anything else?
                                            </p>
                                        </div>
                                    </li>
                                    <li class="left clearfix"><span class="chat-img float-left">
                                        <img src="images/JennyFace.png" alt="User Avatar" class="avatar rounded-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">Jenny</strong> <small class="float-right text-muted">
                                                <span class="glyphicon glyphicon-time"></span>6 mins ago</small>
                                            </div>
                                            <p>
                                                What is the main reason for the increase in my premium
                                            </p>
                                        </div>
                                    </li>
                                    <li class="right clearfix"><span class="chat-img float-right">
                                        <img src="images/bot_icon.gif" height="60px" alt="User Avatar" class="rounded-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>6 mins ago</small>
                                                <strong class="float-right primary-font">VA</strong>
                                            </div>
                                            <p>
                                                This is due to the change in house size and location
                                            </p>
                                        </div>
                                    </li>
                                    <li class="right clearfix"><span class="chat-img float-right">
                                        <img src="images/bot_icon.gif" height="60px" alt="User Avatar" class="rounded-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>6 mins ago</small>
                                                <strong class="float-right primary-font">VA</strong>
                                            </div>
                                            <p>
                                                I understand. There are a number of ways you can reduce your premium
                                            </p>
                                        </div>
                                    </li>
                                    <li class="right clearfix"><span class="chat-img float-right">
                                        <img src="images/bot_icon.gif" height="60px" alt="User Avatar" class="rounded-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>6 mins ago</small>
                                                <strong class="float-right primary-font">VA</strong>
                                            </div>
                                            <p>
                                                Would you like one of our sales representatives to call you so you can discuss these options with them?
                                            </p>
                                        </div>
                                    </li>
                                    <li class="left clearfix"><span class="chat-img float-left">
                                        <img src="images/JennyFace.png" alt="User Avatar" class="avatar rounded-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">Jenny</strong> <small class="float-right text-muted">
                                                <span class="glyphicon glyphicon-time"></span>5 mins ago</small>
                                            </div>
                                            <p>
                                                Yes please
                                            </p>
                                        </div>
                                    </li>

                                    <br>
                                    <p class="text-center"><strong>End of VA conversation.</strong></p>
                                    <hr>

                                </ul>
                            </div>
                            <hr>
                            <label>Transcript:</label>
                            <textarea id="message-to-send" name="message-to-send" placeholder='' rows='5'></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-grid right-column">
        <div class="row h-20">
            <div class="panel panel-border panel-no-color action-panel shadow">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="action-buttons">
                        <div class="col-md-4 action action-start action-not-listening">
                            <a id="start_listen" class='btn engagement-action-button action-not-listening hvr-icon-spin hvr-pulse shadow rounded'><i class="fas fa-phone"></i></a>
                        </div>
                        <div class="col-md-4 action action-mute action-listening">
                            <a class='btn engagement-action-button hvr-pulse action-listening disabled shadow rounded'><i class="fas fa-microphone-slash"></i></a>
                        </div>
                        <div class="col-md-4 action action-end">
                            <a id="stop_listen" class='btn engagement-action-button action-listening hvr-pulse disabled shadow rounded fa-rotate-225'><i class="fas fa-phone"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row h-20">
            <div class="panel panel-border panel-no-color shadow">
                <div class="panel-heading">
                    <h3 class="panel-title">Sentiment</h3>
                </div>

                <div class="panel-body">
                    <div class="text-center sentiment-info">
                        <ul id="sentiment-list" class="list-inline">
                            <li class="list-inline-item sentiment-time-and-effort">
                                <div class="sentiment-icon sentiment-time-and-effort">
                                    <i class="fas fa-stopwatch fa-2x"></i>
                                </div>
                                <span class="sentiment-label">Time and Effort</span>
                                <div class="sentiment-change">
                                    <i class="fas fa-long-arrow-alt-right fa-2x" style="display: none"></i>
                                    <small class="no-impact-text" style="color: #0d0d0f; display:none">No impact</small>
                                </div>
                            </li>
                            <li class="list-inline-item sentiment-integrity">
                                <div class="sentiment-icon sentiment-integrity">
                                    <i class="fas fa-briefcase fa-2x"></i>
                                </div>
                                <span class="sentiment-label">Integrity</span>
                                <div class="sentiment-change">
                                    <i class="fas fa-long-arrow-alt-right fa-2x" style="display: none"></i>
                                    <small class="no-impact-text" style="color: #0d0d0f; display:none">No impact</small>
                                </div>
                            </li>
                            <li class="list-inline-item sentiment-personalization">
                                <div class="sentiment-icon sentiment-personalization">
                                    <i class="fas fa-user fa-2x"></i>
                                </div>
                                <span class="sentiment-label">Personalization</span>
                                <div class="sentiment-change">
                                    <i class="fas fa-long-arrow-alt-right fa-2x" style="display: none"></i>
                                    <small class="no-impact-text" style="color: #0d0d0f; display:none">No impact</small>
                                </div>
                            </li>
                            <li class="list-inline-item sentiment-resolution">
                                <div class="sentiment-icon sentiment-resolution">
                                    <i class="fas fa-lightbulb fa-2x"></i>
                                </div>
                                <span class="sentiment-label">Resolution</span>
                                <div class="sentiment-change">
                                    <i class="fas fa-long-arrow-alt-right fa-2x" style="display: none"></i>
                                    <small class="no-impact-text" style="color: #0d0d0f; display:none">No impact</small>
                                </div>
                            </li>
                            <li class="list-inline-item sentiment-empathy">
                                <div class="sentiment-icon sentiment-empathy">
                                    <i class="fas fa-heart fa-2x"></i>
                                </div>
                                <span class="sentiment-label">Empathy</span>
                                <div class="sentiment-change">
                                    <i class="fas fa-long-arrow-alt-right fa-2x" style="display: none"></i>
                                    <small class="no-impact-text" style="color: #0d0d0f; display:none">No impact</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row h-60">
            <div class="panel shadow">
                <div class="panel-heading">
                    <h3 class="panel-title">Suggested Actions</h3>
                </div>
                <div class="panel-body suggestion-wrapper">
                    <div class="no-suggestions">Suggestions will appear here once you start the conversation with the customer.</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js'></script>
<script src='javascripts/bundle.js'></script>
<script src="javascripts/eva_v3.js"></script>

<script id="message-template" type="text/x-handlebars-template">
    <li class="left clearfix" data-timing-from="{{from}}" data-timing-to="{{to}}"><span class="chat-img float-left">
        <img src="images/JennyFace.png" alt="User Avatar" class="avatar rounded-circle" />
        </span>
        <div class="chat-body clearfix">
            <div class="header">
                <strong class="primary-font"><span class="message-data-name" >{{name}}</span></strong> <small class="float-right text-muted">
                <span class="glyphicon glyphicon-time"></span><span class="message-data-time" >{{time}}, Today</span></small>
            </div>
            <p>{{messageOutput}}</p>
        </div>
    </li>
</script>

<script id="message-response-template" type="text/x-handlebars-template">
    <li class="right clearfix" data-timing-from="{{from}}" data-timing-to="{{to}}"><span class="chat-img float-right">
        <img src="images/agent-icon.png" height="50px" alt="User Avatar" class="avatar rounded-circle" />
        </span>
        <div class="chat-body clearfix">
            <div class="header">
                <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>
                    <span class="message-data-time" >{{time}}, Today</span>
                </small>
                <strong class="float-right primary-font"><span class="message-data-name" >{{name}}</span></strong>
            </div>
            <p>{{messageOutput}}</p>
        </div>
    </li>
</script>

<script id="script-template" type="text/x-handlebars-template">
    <div class="row h-20 script-wrapper" style="display: none;">
        <div class="panel panel-border panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Proposed Response</h3>
            </div>
            <div class="panel-body script-content">
                {{content}}
            </div>
        </div>
    </div>
</script>

<script id="suggestions1-template" type="text/x-handlebars-template">
    <span class="list-group">
        <div class="suggestion hvr-pulse list-group-item list-group-item-action flex-column more-info-popover align-items-start explain high-confidence" data-toggle="popover" data-trigger="hover" data-html="true" title="Costs" data-content="<ul><li>New monthly premium: £20.80</li><li>Annual premium: £250</li><li>Building cover: 145</li><li>Contents cover: 105</li></ul>">
            <div class="d-flex w-100 justify-content-between">
                <small>Confidence: 96.6%</small>
            </div>
            <p class="mb-1"><span class="large-icon"><i class="fa fa-dollar-sign"></i></span><span class="suggestion-text">Explain Premium Reduction Methods</span></p>
        </div>
    </span>

    <span class="suggestion hvr-pulse list-group-item list-group-item-action flex-column align-items-start discount mid-confidence">
    <div class="d-flex w-100 justify-content-between">
        <small>Confidence: 95.49%</small>
    </div>
    <p class="mb-1"><span class="large-icon"><i class="fa fa-hand-holding-usd"></i></span><span class="suggestion-text">Discount Offer</span></p>
    </span>

    <span class="suggestion hvr-pulse list-group-item list-group-item-action flex-column align-items-start mid-confidence">
    <div class="d-flex w-100 justify-content-between">
        <small>Confidence: 76.33%</small>
    </div>
    <p class="mb-1"><span class="large-icon"><i class="fa fa-dollar-sign"></i></span><span class="suggestion-text">Explain Insurance Costs</span></p>
    </span>

    <span class="suggestion hvr-pulse list-group-item list-group-item-action flex-column align-items-start low-confidence">
    <div class="d-flex w-100 justify-content-between">
        <small>Confidence: 54.79%</small>
    </div>
    <p class="mb-1"><span class="large-icon"><i class="fa fa-briefcase"></i></span><span class="suggestion-text">Offer Insurance Bundles</span></p>
    </span>
</script>


<script id="suggestions2-template" type="text/x-handlebars-template">
    <span class="suggestion hvr-pulse list-group-item list-group-item-action flex-column align-items-start discount high-confidence">
    <div class="d-flex w-100 justify-content-between">
        <small>Confidence: 95.49%</small>
    </div>
    <p class="mb-1"><span class="large-icon"><i class="fa fa-hand-holding-usd"></i></span><span class="suggestion-text">Discount Offer</span></p>
    </span>
    <span class="suggestion hvr-pulse list-group-item list-group-item-action flex-column align-items-start mid-confidence">
    <div class="d-flex w-100 justify-content-between">
        <small>Confidence: 76.33%</small>
    </div>
    <p class="mb-1"><span class="large-icon"><i class="fa fa-dollar-sign"></i></span><span class="suggestion-text">Explain Insurance Costs</span></p>
    </span>
    <span class="suggestion hvr-pulse list-group-item list-group-item-action flex-column align-items-start low-confidence">
    <div class="d-flex w-100 justify-content-between">
        <small>Confidence: 54.79%</small>
    </div>
    <p class="mb-1"><span class="large-icon"><i class="fa fa-briefcase"></i></span><span class="suggestion-text">Offer Insurance Bundles</span></p>
    </span>
</script>

<script id="suggestion-template" type="text/x-handlebars-template">
    {{#each suggestions}}
        <div class="panel suggestion panel-border  panel-{{confidenceAbbrev}}-confidence" style="display:none;">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-2"><img src="images/icons/{{icon}}.png" height="50px"></div>
                    <div class="col-10">
                        <div class="d-flex w-100 justify-content-between">
                            <small class="suggestion-confidence">
                                {{#each stars}}
                                    {{#if this}}
                                        <i class="fas fa-star"></i>
                                    {{else}}
                                        <i class="far fa-star"></i>
                                    {{/if}}
                                {{/each}}
                            </small>
                        </div>
                        <p class="mb-1"><span class="suggestion-title">{{title}}</span></p>
                    </div>
                </div>
            </div>
            <div class="panel-collapse collapse">
                <div class="panel-body">{{body}}</div>
            </div>
        </div>
    {{/each}}
</script>

</body>
